{% extends 'base.html' %}
{% block title %}Search result{% endblock title %}
{% load static %}
{% block body %}
<div class="container my-3 ">
    <h1><center> Search results : </center>  </h1> <br>
    {% if pdf|length < 1 %}
    <h3> No search results : </h3>
    Your search - <b> {{query}} </b> - did not match any documents. <br>
   <br> <b> <h5>Suggestions:</b></h5>
<ul>
   <li>Make sure that all words are spelled correctly.</li>
   <li>Try different keywords.</li>
   <li>Try more general keywords.</li>
    {% endif %}
</ul>
    {% for pdf in pdf %}
        <div class="col-md-12">
            <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-success">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-dark">Tutorial By {{pdf.author}}</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="/media/media/{{pdf.upload}}">{{pdf.title | upper}}</a>
                    </h3>
                    <div class=" mb-1 text-alert">{{pdf.timeStamp}}</div>
                    <p class="card-text mb-auto">{{pdf.description}}</p>
                    <p class="lead my-4">
                        <a class="btn btn-outline-danger btn-lg " href="/media/media/{{ pdf.upload }}" download role="button">Download PDF</a>
                        
                    </p>
                </div>
            </div>
    {% endfor %}
{% endblock body %}